# keycloak credentials for all services
keycloak_client_id=""
keycloak_client_secret=""
keycloak_rsa_public_key=""
keycloak_url="http://keycloak.local:8087"
keycloak_realm=""

# security mode for all services
# set "OFFLINE" to not validate tokens and accept requests
# set "ENABLED" to validate tokens against OAuth2 server
security_mode=ENABLED

# preservica credentials for datahandler
preservica_url=""
preservica_username=""
preservica_password=""

streams_doms_radio_tv_path=""
streams_preservica_tv_path=""
streams_preservica_radio_path=""

# s-datahandler postgresql database
datahandler_database_username=""
datahandler_datanase_password=""
datahandler_database=""

# ds-license module postgresql database
license_database_username=""
license_database_password=""
license_database=""

# ds-storage module postgresql database
storage_database_username=""
storage_database_password=""
storage_database=""

# kaltura stuff
kaltura_url=""
kaltura_api_url=""
kaltura_user_id=""
kaltura_partner_id=""
kaltura_video_ui_conf_id=23454142
kaltura_audio_ui_conf_id=23454308
kaltura_token=""
kaltura_token_id=""

datahandler_url="http://ds-datahandler:8080/ds-datahandler/v1"
discover_url="http://ds-discover:8080/ds-discover/v1"
image_url="http://ds-image:8080/ds-image/v1"
kb_url=""
kb_iip_stage_url=""
license_url="http://ds-license:8080/ds-license/v1"
present_url="http://ds-present:8080/ds-present/v1"
storage_url="http://ds-storage:8080/ds-storage/v1"

# bff
secret_salt=""

# solr
solr_url="http://solr:8983"
solr_write_collection=""
solr_read_collection=""